html,
body {
  margin: 0px;
  height: 100%;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 100px 400px minmax(1200px, auto);
  grid-template-rows: 100px 50px minmax(900px, auto) 170px;
  grid-template-areas:
    "header header header "
    "menu menu menu"
    "sidebar content content"
    "colourP colourP options";
  background-color: #444;
  color: #fff;
}

.header {
  grid-area: header;
  font-family: "Henny penny", Helvetica, sans-serif;
}

.header h1 {
  margin: 0;
  text-align: center;
  font-size: 2.3rem;
}

.menu {
  grid-area: menu;
}

.sidebar {
  padding-top: 20px;
  grid-area: sidebar;
  grid-row: 3/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sideBarItem {
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-radius: 4px;
}

.sideBarItem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

#content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.colourOptions {
  grid-area: colourP;
  margin-left: 100px ;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.colourPalette {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(3, 40px);
  gap: 10px;
}

.colourPicker{
  display: flex;
  height: 100%;
  width: 100px;
  justify-content: center;
  align-items: center;
}


.colourSwatches {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 3px;
}
.options {
  grid-area: options;
  padding: 15px;
}


.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}
