html,
body {
  margin: 0px;
  height: 100%;
  background-color: #444;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 100px 200px 400px auto;
  grid-template-rows: 75px 150px 1fr;
  grid-template-areas:
    "header header header header "
    "menu menu colours options"
    "sidebar content content content";
  background-color: #444;
  color: #fff;
}

.header {
  grid-area: header;
  font-family: "Henny penny", Helvetica, sans-serif;
}

.header h1 {
  margin: 0;
  text-align: center;
  font-size: 2.3rem;
}

.menu {
  grid-area: menu;
}

.colours {
  grid-area: colours;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.colourPalette {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(3, 40px);
  gap: 4px;
}

.colourSwatches {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  max-height: 35px;
  max-width: 35px;
  border-radius: 2px;
}

.colourPicker{
  display: flex;
  height: 100%;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.options {
  grid-area: options;
  padding: 15px;
}

.sidebar {
  padding-top: 20px;
  grid-area: sidebar;
  grid-row: 3/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sideBarItem {
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-radius: 4px;
}

.sideBarItem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

#content {
  grid-area: content;
  background-color: #b6b3b3;
}

/* .footer {
  grid-area: footer;
} */

/* .box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
} */
